include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./bearing_temperature_polynomial/*

include bearing_temperature_polynomial/datasets/train.csv
include bearing_temperature_polynomial/datasets/test.csv
include bearing_temperature_polynomial/trained_models/*.pkl
include bearing_temperature_polynomial/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
