--extra-index-url=${PIP_EXTRA_INDEX_URL}


Django>=2.2.0,<2.3.0
djangorestframework>=3.8.2,<3.9.0
djangorestframework-jwt>=1.11.0,<1.12.0
psycopg2>=2.7.5,<2.8.0 # package to communicate django and postgres

# pep8
flake8>=3.6.0,<3.7.0


# Install models from gemfury
regression_model==1.0.0